.tiptap {
  :first-child {
    margin-top: 0;
  }

  .mention {
    background-color: #fff8ff;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: #800080;
    padding: 0 1px;
    cursor: pointer;

    &::after {
      /* Insert a zero-width space to ensure proper cursor movement and selection behavior
     around inline mention nodes in the editor (prevents caret from getting "stuck"). */
      content: '\200B';
    }
  }
}
